<!-- user-registration-form.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Sign Up!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="userData.Username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="userData.Password" name="password" type="password" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userData.Email" name="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Birthday</mat-label>
        <input matInput [(ngModel)]="userData.Birthday" name="birthday" type="date" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>
